In [1]:
from imp import reload
import numpy as np
from utils import util
import pandas as pd
reload(util)

C:\Users\zhou\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
book0 = util.load_book(0)

In [4]:
book0.groupby('time_id').apply(lambda x:len(x))

time_id
5        302
11       200
16       188
31       120
62       176
        ...
32751    297
32753    206
32758    188
32763    307
32767    228
Length: 3830, dtype: int64

In [5]:
book0

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,stock_id
0,5,0,1.001422,1.002301,1.001370,1.002353,3,226,2,100,0
1,5,1,1.001422,1.002301,1.001370,1.002353,3,100,2,100,0
2,5,5,1.001422,1.002301,1.001370,1.002405,3,100,2,100,0
3,5,6,1.001422,1.002301,1.001370,1.002405,3,126,2,100,0
4,5,7,1.001422,1.002301,1.001370,1.002405,3,126,2,100,0
...,...,...,...,...,...,...,...,...,...,...,...
917548,32767,568,0.998275,0.998754,0.997796,0.998946,90,90,48,28,0
917549,32767,569,0.998275,0.998754,0.997892,0.998946,91,90,200,28,0
917550,32767,571,0.998275,0.998754,0.997892,0.998946,91,90,100,28,0
917551,32767,572,0.998275,0.998754,0.997892,0.998946,92,90,100,28,0
917552,32767,582,0.998275,0.998754,0.998179,0.998946,92,90,26,28,0

In [6]:
trade0 = util.load_trade(0)

In [7]:
trade0.head(5)

   time_id  seconds_in_bucket     price  size  order_count  stock_id
0        5                 21  1.002301   326           12         0
1        5                 46  1.002778   128            4         0
2        5                 50  1.002818    55            1         0
3        5                 57  1.003155   121            5         0
4        5                 68  1.003646     4            1         0

In [8]:
book_trade = book0.merge(
        trade0
        , how='outer'
        , on=['time_id', 'seconds_in_bucket', 'stock_id']
    )

In [9]:
book_trade.head(5)

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,stock_id,price,size,order_count
0,5,0,1.001422,1.002301,1.00137,1.002353,3,226,2,100,0,NaN,NaN,NaN
1,5,1,1.001422,1.002301,1.00137,1.002353,3,100,2,100,0,NaN,NaN,NaN
2,5,5,1.001422,1.002301,1.00137,1.002405,3,100,2,100,0,NaN,NaN,NaN
3,5,6,1.001422,1.002301,1.00137,1.002405,3,126,2,100,0,NaN,NaN,NaN
4,5,7,1.001422,1.002301,1.00137,1.002405,3,126,2,100,0,NaN,NaN,NaN

In [10]:
type(book_trade.order_count.iloc[0])

numpy.float64

In [11]:
trade0.head(5)

   time_id  seconds_in_bucket     price  size  order_count  stock_id
0        5                 21  1.002301   326           12         0
1        5                 46  1.002778   128            4         0
2        5                 50  1.002818    55            1         0
3        5                 57  1.003155   121            5         0
4        5                 68  1.003646     4            1         0

In [12]:
trade0.order_count.dtype

dtype('int32')

In [13]:
book0.head(5)

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,stock_id
0,5,0,1.001422,1.002301,1.00137,1.002353,3,226,2,100,0
1,5,1,1.001422,1.002301,1.00137,1.002353,3,100,2,100,0
2,5,5,1.001422,1.002301,1.00137,1.002405,3,100,2,100,0
3,5,6,1.001422,1.002301,1.00137,1.002405,3,126,2,100,0
4,5,7,1.001422,1.002301,1.00137,1.002405,3,126,2,100,0

In [14]:
book0.ask_size2.dtype

dtype('int32')

In [24]:
label = pd.read_csv('../data/train.csv')
label = label[label.stock_id==0]
label = label.sort_values('time_id').target

In [20]:
label

0       0.004136
1       0.001445
2       0.002168
3       0.002195
4       0.001747
          ...
3825    0.002611
3826    0.001190
3827    0.004264
3828    0.004352
3829    0.001084
Name: target, Length: 3830, dtype: float64

In [25]:
label = label[label.stock_id==0]

AttributeError: 'Series' object has no attribute 'stock_id'

In [22]:
label.sort_values('time_id').target

<ipython-input-22-a78ca6383816>:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only
  label.sort_values('time_id').target

ValueError: No axis named time_id for object type Series

In [26]:
from glob import glob
from tqdm import tqdm
import os
path_lst = glob('../data/book_train.parquet/*')
name_lst = [os.path.basename(path).split('=')[-1] for path in path_lst]
for name in tqdm(name_lst):
    book = util.load_book(name)
    if len(np.where(pd.isna(book))[0])!=0:
        print(pd.isna(book))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 112/112 [00:17<00:00,  6.33it/s]